<script type="text/javascript">
  $(function() {
    $('#colorpic').simplecolorpicker();
    $('#datetimepicker').datetimepicker();
  }) 
</script>

<h2>Записаться:</h2>
    <form method="post" action="/visit">
        <table border="1px">
          <tr>
            <td><label for="client[name]"><b>Your Name:</b></label></td>
            <td><input type="text" name="client[name]" ></td>
          </tr>
          <tr>
            <td><label for="client[phone]"><b>Phone number:</b></label></td>
            <td><input type="text" name="client[phone]" ></td>
          </tr>
          <tr>
            <td><label for="client[date_stamp]"><b>Date and Time:</b></label></td>
            <td><input id="datetimepicker" type="text" name="client[date_stamp]" ></td>
          </tr>
          <tr>
            <td><label for="barber"><b>Barber:</b></label></td>
            <td>
            
            <select name="client[barber]">
            <% @barbers.each do |item| %>
                <option><%= item.name %></option>
                <% end %>
            </select>
            
            </td>
          </tr>
          <tr>
            <td><label for="color"><b>Color:</b></label></td>
            <td>
            <select id="colorpic" name="client[color]">
                <option value="#7bd148">Green</option>
                <option value="#5484ed">Bold blue</option>
                <option value="#46d6db">Turquoise</option>
                <option value="#7ae7bf">Light green</option>
                <option value="#fbd75b">Yellow</option>
                <option value="#ffb878">Orange</option>
                <option value="#dc2127">Bold red</option>
                <option value="#dbadff">Purple</option>
            </select>
            </td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit"></td>
          </tr>
        </table>
      </form>